.updateTask__buttons{
    display: flex;
    gap:10px;
}
.updateTask__input{
    border-radius: 10px;
    padding:0 10px;
    outline: none;
    width:100%;
}

.updateTask__buttons button{
    padding:5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.updateTask__buttons button:nth-of-type(1){
    background-color: rgb(247, 255, 19);
    border:1px solid rgb(209, 56, 0);
}
.updateTask__buttons button:nth-of-type(2){
    background-color: rgb(255, 19, 19);
    color:white;
    border:1px solid rgb(209, 0, 0);
}